<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Comments view</title>
</head>
<body>


<ul>
  <% if @comments.empty? %>
    No comments here yet, would you like to leave one?
    <form action="/bookmarks/comments" method="post">
      <input type="hidden" name="id" value="<%= params[:id] %>">
      <textarea name="text" placeholder="Leave your comment."></textarea>
      <input type="submit" value="Submit">
    </form>
  <% else %>
    <% @comments.each do |comment| %>
      <li> <%= comment.text %></li>
    <% end %>
  <% end %>
</ul>

<a href="/">Back to bookmarks!</a>

</body>
</html>
