<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" />
  <link rel="shortcut icon" type="image/png" href="/favicon-32x32.png" />

  <title>Login</title>
</head>

<body>

<div class="intro">
  <%= flash[:notice] %>
</div>

<table class="home">
  <tr>
    <th colspan="2"><h1>Bookmark Manager</h1></th>
  </tr>
  <tr>
    <td><a class="intro" href="/login/users/new" title="sign up"><h3>Sign up</h3></a></td>
    <td><a class="intro" href="/login" title="sign in"><h3>Sign in</h3></a></td>

  </tr>
</table>

</body>
</html>
