<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Login</title>
</head>
<body>

<table>
  <tr>
    <th><h1>Bookmark Manager</h1></th>
  </tr>
  <tr>
    <td><a class="intro" href="/users/new" title="sign up">Sign up</a></td>
    <td><a class="intro" href="/sessions/new" title="sign in">Sign in</a></td>
  </tr>
</table>

</body>
</html>
