<!DOCTYPE html>

<html>
<head></head>

<div>
  <form action="/create-new-link" method="post">
    <input type="text" name="url" required="required" placeholder="Paste your link here">
    <input type="submit" name="new_link" value="Add">
  </form>
</div>

<div>
  <ul>
    <% @links.each do |link| %>
      <li><%= link %></li>
    <% end %>
  </ul>
</div>

<%= flash[:notice] %>

</html>
