<!DOCTYPE html>

<html>
<head></head>

<div>
  <% @links.each do |link| %>
  <form action="/update_link" method="post">
    <input type="hidden" name="id" value="<%= @link_id %>">
    <input type="text" name="new_url"  size="50" value="<%= link.url %>">
    <input type="text" name="new_title" size="50" value="<%= link.title %>">
    <input type="submit" value="Confirm the update">
  </form>
    <% end %>

  <a href="/">Changed my mind</a>
</div>

</html>
