<!DOCTYPE html>

<html>
<head></head>

<div>
  <form action="/update_link" method="post">
    <input type="hidden" name="id" value="<%= @link_id %>">
    <input type="text" name="title">
    <input type="text" name="url">
    <input type="submit" value="Confirm the update">
  </form>

  <a href="/">Changed my mind</a>
</div>

</html>
