<!DOCTYPE html>

<html>
<head></head>

<div>

  <form action="/links/update" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="id" value="<%= @link.id %>">
    <label>New title</label>
    <input type="text" name="new_title" size="50" value="<%= @link.title %>">
    <label>New URL</label>

    <input type="text" name="new_url"  size="50" value="<%= @link.url %>">
    <input type="submit" value="Confirm the edit">
  </form>

  <a href="/">I changed my mind. Take me back!</a>
</div>

</html>
