/* basic elements */
html {
	margin: 0;
	padding: 0;
	}

body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753;
	background: url(flower-pencil-4.jpg);
	background-color: #ffeaf3;
	margin: 0; 
	padding: 20px;
	}

p {
	font-weight: bold;
	text-decoration: none;
	color: #555753;
}

a:link {
	font-weight: bold;
	text-decoration: underline;
	color: #555753;
	}
a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #555753;
	}
a:hover, a:focus, a:active {
	text-decoration: underline;
	color: #edecf1;
	}

.container {
	width: 90%;
	min-width: 500px;
	margin: auto;
}


/* specific divs */

table { width: 50% }

table, th, td {
	border-collapse: collapse;
}

th, td {
    padding: 10px;
	text-align: center;
}

#manage,#comments, #tags {
	width: 15%;

	}

#bm_title {
    width:50%
}

.bookmarks {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 0 175px 0 110px;
	position: relative;
}

.bookmarks input {
	cursor:pointer;
	border-width: thin;
	border-radius: 30%;
	border-color: #ffeaf3;
	/*color: rgba(0, 0, 0, 0);*/
	/*width: 30px;*/
	/*height: 30px;*/
}

.intro {
	font-weight: bold;
	text-decoration: none;
	color: #555753;
	min-width: 470px;
	width: 100%;
	}

.intro input, textarea {
	margin:	20px;
	text-align: center;
	border-radius: 30%;
	border-color: #ffeaf3;
}
