/* basic elements */
html {
	margin: 0;
	padding: 0;
	}

body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753;
	background: url(flower-pencil-4.jpg);
	background-color: #ffeaf3;
	margin: 0; 
	padding: 20px;
	}

p {
	font-weight: bold;
	text-decoration: none;
	color: #555753;
}

a:link {
	font-weight: bold;
	text-decoration: underline;
	color: blue;
	}
a:visited {
	font-weight: lighter;
	text-decoration: none;
	color: #e4254c;
	}
a:hover, a:focus, a:active {
	text-decoration: underline;
	color: #e4254c;
	}

.container {
	width: 90%;
	min-width: 500px;
	margin: auto;
}


/* specific divs */

table { width: 50% }

table, th, td {
	border-collapse: collapse;
}

th, td {
    padding: 10px;
	text-align: center;
}

#manage,#comments, #tags {
	width: 100px;
}

#bm_title {
    width: auto;
}

.bookmarks {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 0 175px 0 110px;
	position: relative;
}

.edit, .comment, .tag, .view, .delete {
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-clip: border-box;

	display: block;
	height: 50px;
	text-decoration: none;
	cursor: pointer;
	overflow: hidden;
	text-indent: 100%;
	white-space:nowrap;
}

.view_psw {
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-clip: border-box;

	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	overflow: hidden;
	text-indent: 100%;
	white-space:nowrap;
	background-color: Transparent;
	background-image: url('eye2.png');
	border: none;
	color: rgba(0, 0, 0, 0);
}

.edit {
	background-image: url('graphite pencil_white.png');
	background-position: right;
}

.delete {
	background-color: Transparent;
	background-image: url('delete.png');
	background-position: left;
	border: none;
	color: rgba(0, 0, 0, 0);
}

.comment {
	background-image: url('speech_buble_hand_drawn.png');
	background-position: right;

}

.view {
	background-image: url('eye2.png');
	background-position: left;
}

.tag {
	background-image: url('tag.png');
	background-position: right;
}

.intro {
	font-weight: bold;
	text-decoration: none;
	color: #e4254c;
	min-width: 700px;
	width: 100%;
	}

.intro input, textarea {
	margin:	20px;
	text-align: center;
	border-radius: 30%;
	border-color: #ffeaf3;
}
