<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<div class="intro">

  <form action="/bookmarks/<%= @bookmark.id %>/update" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <label>New URL</label>
    <input type="text" name="new_url"  size="50" value="<%= @bookmark.url %>">
    <label>New title</label>
    <input type="text" name="new_title" size="50" value="<%= @bookmark.title %>">
    <input type="submit" value="Confirm the edit">
  </form>

  <a href="/">I changed my mind. Take me back!</a>
</div>

</html>
