<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New user</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">
<script>
    function showPswd() {
        var x = document.getElementById("pswdInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
</head>
<body>
<p>Sign up</p>
<div class="intro">
  <form action="/users" method="post">
    <label>Email</label>
    <input type="text" name="email" required="required" size="50" title="email">
    <label>Password</label>
    <input id="pswdInput" type="password" name="password" required="required" size="50" title="password" value="FakePSW">
    <input type="checkbox" onclick="showPswd()">Show Password
    <input class="add" type="submit" title="submit" value="Submit">
  </form>
</div>
</body>
</html>
