<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" />
  <link rel="shortcut icon" type="image/png" href="/favicon-32x32.png" />
  <title>New user</title>

<script>
    function showPswd() {
        var x = document.getElementById("pswdInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
</head>

<body>
<h2>Sign up</h2>
<div class="intro">
  <form action="/users" method="post">
    <div class="form">
        <label for="email" class="title">Email</label>
        <input type="email" name="email" required size="40" title="email" autofocus>
    </div>
    <div class="form">
        <input class="view_psw" type="button" onclick="showPswd()">
        <label for="password" class="title">Password</label>
        <input id="pswdInput" type="password" name="password" required size="40" title="password">
    </div>
    <div class="button">
          <input type="submit" title="submit" value="Sign me up!">
    </div>
  </form>
</div>
<div class="intro">
  <%= flash[:notice] %>
</div>

</body>
</html>
