<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New user</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body>

<div class="intro">
  <form action="/users/new" method="post">
    <label>Email</label>
    <input type="text" name="email" required="required" size="100" title="email" placeholder="Paste your link here">
    <label>Password</label>
    <input type="text" name="password" required="required" size="100" title="password" placeholder="Give a title to your bookmark">
    <input class="add" type="submit" title="submit" value="Submit">
  </form>
</div>
</body>
</html>
